<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		<%=title%>
	</title>
	<link rel="stylesheet" href="/css/reset.css">
	<link href="https://cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css" rel="stylesheet">
	<script src="https://cdn.tailwindcss.com"></script>
	<link rel="stylesheet" href="/css/org.css">
	<!-- <link rel="stylesheet" href="css/introCss.css"> -->
</head>

<body>
	<div class="org-wrap">
		<%- include('partials/navbar') %>
			<main>
				<div class="form-container">
					<div class="form-box">
						<form action="/orgChart/searchEmployee" method=GET">
							<div class="form-row">
								<div class="form-icon">
									<img src="/img/eye.svg" alt="직원찾기 아이콘">
									<h2 class="title">직원 찾기</h2>
								</div>
								<input type="text" name="query" class="searchForm">
								<button type="submit" class="search">검색</button>
							</div>
						</form>
						<div class="add-link">
							<a href="#" class="addLink"> 직원을 추가하고 싶으신가요?</a>
						</div>
					</div>
				</div>
				<% if (typeof search !=='undefined' && search.length>0){ %>
					<div class="tableContainer">
						<table class="empTable">
							<thead>
								<tr>
									<% fieldNames.forEach(field=> { %>
										<th>
											<%=field%>
										</th>
										<% })%>
								</tr>
							</thead>
							<tbody>

								<% search.forEach(emp=> { %> <!--찾은 직원 반복 시작-->
									<tr> <!--직원 한 명 반복 시작-->
										<% fieldNames.forEach(field=> { %>
											<td>
												<%= emp[field] %>
											</td>
											<% }) %>
									</tr>

									<% }) %>

							</tbody>
						</table>
						<% } else if (typeof search !=='undefined' ) { %>
							<p>검색 결과가 없습니다.</p>
							<% } %>
					</div>
					<div class="img-container">
						<img class="img1" src="/img/orgChartV1.png">
					</div>
			</main>
	</div>
	<div id="popupForm" class="fixed inset-0 bg-black/50 flex justify-center items-center z-50 hidden">
		<div class="bg-white rounded-2xl shadow-xl w-full max-w-md p-6 min-h-[400px] relative">
			<!-- 닫기 버튼 -->
			<button class="absolute top-3 right-3 text-red-600 hover:text-black text-xl font-bold close">
				&times;
			</button>

			<h2 class="text-2xl font-semibold text-center text-black mb-4">직원 등록</h2>
			<form action="/orgChart/addEmployee" method="POST"
				class=" h-full max-w-md mx-auto flex flex-col gap-2 pt-4">

				<div class="flex items-center gap-2 mb-4">
					<label for="name" class="w-16 text-sm font-medium text-gray-700">이름</label>
					<input type="text" name="name" required
						class="flex-1 border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-red-500">
				</div>

				<div class="flex items-center gap-2 mb-4">
					<label for="department" class=" w-16 text-sm font-medium text-gray-700 h-[20px]">부서</label>
					<select name="department" required
						class="w-[165px] h-[30px] px-5 py-1 bg-white text-gray-800 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-red-500 disabled:opacity-50">
						<!-- "flex-1 px-5 py-4 bg-white text-gray-800 border border-gray-300 rounded-lg text-sm focus:border-red-500 focus:ring-red-500 disabled:opacity-50" -->
						<% departments.forEach(dep=> { %>
							<option value="<%= dep.value%>">
								<%= dep.label %>
							</option>
							<% })%>
					</select>
				</div>


				<div class="flex items-center gap-2 mb-4">
					<label class="w-16 text-sm font-medium text-gray-700">직급</label>
					<input type="text" name="position" required
						class="flex-1 border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-red-500">
				</div>

				<div class="flex items-center gap-2 mb-4">
					<label class="w-16 text-sm font-medium text-gray-700">이메일ID</label>
					<input type="text" name="email" placeholder="예: honggildong" required
						class="flex-1 border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-red-500">
				</div>

				<div class="flex items-center gap-2 mb-4">
					<label class="w-16 text-sm font-medium text-gray-700">담당업무</label>
					<input type="text" name="assignedTask" required
						class="flex-1 border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-red-500">
				</div>

				<div class="flex justify-between gap-7 mt-6">
					<button type="button"
						class="bg-gray-300 text-black px-4 py-2 rounded hover:bg-gray-400 transition close">
						취소
					</button>
					<button type="submit" class="bg-red-600 text-white px-4 py-2 rounded hover:bg-black transition">
						등록
					</button>
				</div>
			</form>
		</div>
	</div>
	<script src="/orgChart.js"></script>
</body>

</html>